<div class="container-fluid">
  <div class="row">
    <div class="col bg-color">
      <h2 class="fs-6 log-title py-2 text-center text-white p-0">REGISTER</h2>
      <%= link_to root_path do %>
        <box-icon class="arrow-back" name='arrow-back' color='#fff'></box-icon>
      <% end %>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { multipart: true }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="text-center log-input">
          <div class="field input-group">
            <div class="input-group-prepend">
                <box-icon name='user-circle' type='solid' color='#ccc' class="user-icon"></box-icon>
            </div>
            <%= f.file_field :photo, autofocus: true, autocomplete: "photo", class: "custom-input custom-input-email px-5 py-4 rounded-0 w-100" %>
          </div>

          <div class="field">
            <%= f.text_field :name, autocomplete: "name", class: "custom-input custom-input-email w-100 rounded-0", placeholder: "Full Name" %>
          </div>

          <div class="field">
            <%= f.email_field :email, autocomplete: "email", class: "custom-input custom-input-email w-100 rounded-0", placeholder: "Email" %>
          </div>

          <div class="field">
            <%= f.password_field :password, autocomplete: "new-password", class: "custom-input custom-input-email w-100 rounded-0", placeholder: "Password" %>
          </div>

          <div class="field">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "custom-input custom-input-email w-100 rounded-0", placeholder: "Confirm Password" %>
          </div>

          <div class="actions my-2">
            <%= f.submit "Sign up", class:"btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
