<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-2">
    <%= form.label :photo, style: "display: block" %>
    <%= form.file_field :photo %> 
  </div>
  
  <div class="my-2">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div class="my-2">
    <%= form.label :birthday, style: "display: block" %>
    <%= form.date_field :birthday %>
  </div>

  <div class="my-2">
    <%= form.label :credit_card, style: "display: block" %>
    <%= form.text_field :credit_card %>
  </div>
  

  <% unless user.persisted? %>
    <div class="my-2">
      <%= form.label :email, style: "display: block" %>
      <%= form.email_field :email %>
    </div>
    
    <div class="my-2">
      <%= form.label :password, style: "display: block" %>
      <%= form.password_field :password %>
    </div>

    <div class="my-2">
      <%= form.label :password_confirmation, 'Confirm Password', style: "display: block" %>
      <%= form.password_field :password_confirmation %>
    </div>
  <% end %>

  <div class="my-2">
    <%= form.submit class:"btn btn-success" %> 
  </div>
<% end %>
