<%= form_with(model: [@category, @payment], local: true) do |form| %>
  <% if @payment.errors.any? %>
    <div style="color: red" class="alert alert-warning mt-2 mb-0">
      <ul class="list-unstyled mb-0">
        <% @payment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="mt-2">
          <%= form.text_field :amount, placeholder: "Amount", class: "border-0 my-2 p-2 rounded-3 shadow w-100" %>
        </div>
        <div class="mt-2">
          <%= form.text_field :name, placeholder: "Payment Name", class: "border-0 my-2 p-2 rounded-3 shadow w-100" %>
        </div>
        <div class="mt-2">
          <%= form.select :category_ids, options_from_collection_for_select(@categories, 'id', 'name'), { include_blank: 'Select a category' }, class: "border-0 my-2 p-2 rounded-3 shadow w-100" %>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-container">
    <div class="btn-green p-2">
      <%= form.submit class: "border-light btn btn-green w-100" %>
    </div>
  <div>
<% end %>
