<%= form_with(model: [@category, @payment]) do |form| %>
  <% if @payment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>
      <ul>
      <% @payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :amount, style: "display: block" %>
    <%= form.text_field :amount %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :category_id, "Category", style: "display: block" %>
    <%= form.select :category_id, options_from_collection_for_select(@categories, 'id', 'name'), { include_blank: 'Select a category' } %>
  </div>
    <%# # <%= form.select :category_id, @categories, { include_blank: 'Select a category' } %>
    <%# Genera un menu desplegable con las categorias existentes %>
  <div>
    <%= form.submit %>
  </div>
<% end %>
