<div id="<%= dom_id payment %>">
  <p>
    <strong>Amount:</strong>
    <%= payment.amount %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= payment.description %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= payment.category_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= payment.user_id %>
  </p>

</div>
