<h1>Payments for <%= @category.name %></h1>

<div id="payments">
  <p>Total Amount: <%= @total_amount %></p>
  <% @payments.each do |payment| %>
    <ul class="list-unstyled">
        <li>
          Amount: <%= payment.amount %>
        </li>
        <li>
          Date: <%= payment.created_at %>
        </li>
        <li>
          Name: <%= payment.name %>
        </li>
    </ul>
  <% end %>

  <%= link_to "Add a New Transaction", new_category_payment_path(@category) %>
  <%= link_to "Return to Categories", root_path %>
</div>
