<div>
  <h2 class="bg-blue fs-5 m-0 py-4 text-center text-white section-title letter-spacing">CATEGORIES</h2>
<div class="align-items-center d-flex justify-content-between p-2 bg-white">
  <div class="text-body-tertiary text-decoration-none">Gift credit</div>
  <div>$45.00</div>
</div>
<div class="bg-grey container-fluid">
  <div class="row">
    <div class="col bg-color">

      <div id="categories">
        <% @categories.each do |category| %>
        
          <div id="<%= dom_id category %>" class="zoom-on-hover">
            <%= link_to category_payments_path(category),class:"text-decoration-none", :action => 'go' do %>
            <div class="bg-body border d-flex justify-content-evenly mt-3 pt-3 shadow">
               <p class="text-body-tertiary">
              <%= category.icon %>
            </p>

            <p class="text-body-tertiary input-width">
              <%= category.name %>
            </p>

             <p class="text-black">
              <%= number_to_currency(total_amount(category)) %>
            </p>
            </div>  
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="footer-container">
      <div class="text-center">
        <div class="btn-green p-2">
          <%= link_to "Add a New Category", new_category_path, class:"border-light btn btn-green w-100" %>
        </div>
      <div>
      <div>
    </div>
  </div>
</div>
