<%= render "shared/header", title: 'CATEGORIES', icon: 'home-alt-2', link: root_path, logout: true %>

<div class="bg-white rounded-2 rounded-top-0 py-1 sticky-after-header shadow">
  <div class="container-fluid">
    <div class="row">
      <div class="d-flex justify-content-around">
          <p>Gift credit</p>
          <p>$45.00</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid site-content mt-3">
  <div class="row">
    <div class="col">
      <div id="categories" class="d-flex flex-column gap-3">
        <% @categories.each do |category| %>
          <div id="<%= dom_id category %>" class="zoom-on-hover">
            <%= link_to category_payments_path(category),class:"text-decoration-none", :action => 'go' do %>
              <div class="bg-body border d-flex justify-content-evenly p-3 shadow">
                <p class="text-body-tertiary">
                  <%= category.icon %>
                </p>
                <p class="text-body-tertiary input-width">
                  <%= category.name %>
                </p>
                <p class="text-black">
                  <%= number_to_currency(total_amount(category)) %>
                </p>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="footer-container">
  <div class="btn-green p-2">
    <%= link_to "Add a New Category", new_category_path, class:"border-light btn btn-green w-100" %>
  </div>
<div>
